/* Global Attributes & Properties */
    /* font styles :
    

    font-family: 'Exo 2', sans-serif;

    font-family: 'Teko', sans-serif;

    font-family: 'Acme', sans-serif;

 */
    /* global reset */
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    color: #fff;
}
    /* global properties  */
.flex {display: flex;}
.hidden {display: none;}
img {vertical-align: middle;}



/* Header Elements */
/* Header Elements */
    /* header | header properties */
.header {
    background-color: #000;
    
}
.header-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(200px, auto);
}
.header-panel {
    display: flex;
    /* border: 1px solid #fff; */
    flex-direction: column;
    /* margin: 12px auto; */
    /* width: auto; */
    
}
.header-panel h1,
.header-panel h2 {
    margin: auto;
    padding: 10px;
    letter-spacing: 5px;
    font-family: 'Exo 2', sans-serif;
}
.panel-lrg {
    margin: auto;
    grid-column: span 4;
    grid-row: span 1;
}
.panel-med {
    grid-column: span 2;
}
.panel-wide {
    margin: auto;
    grid-column: span 4;
}
.panel-none {
    display: none;
}
.panel-hidden {
    visibility: hidden;
}


/* slideshow elements */
    .slideshow {
        /* display: flex; */
        /* width: 400px; */
        max-width: 600px;
        position: relative;
        
        /* height: 300px; */
    }
   
    
    .slides {
        /* padding-top: 125px; */
        max-height: 450px;
        height: 350px;
        margin: auto;
        width: 100%;
        display: none;
    }

    /* slideshow fade animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s; 
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}
@-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

    /* slideshow elements end */

   
.button {
    margin: auto;
    height: 100px;
    width: 300px;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}
    /* header | header end */
    
/* Banner Elements */
    /* section | banner */
.banner {
    height: 200px;
    display: flex;
}
.banner h3 {
    margin: auto;
    letter-spacing: 10px;
    font-size: 50px;
}
.banner h4 {
    margin: auto;
}
    /* section | banner end */

/* Website Theme | Color Scheme */
    /* ryzen themed background attachment   */
.banner {
    background-image: url(assets/banners/banner_flame.jpg);
    background-position: center;
}


.footer {
    background:
        linear-gradient(to top right, rgb(61, 61, 63), transparent),    
        linear-gradient(to top left, rgb(240, 111, 5), transparent);

    background-blend-mode: screen;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-image: url(assets/img/footer.jpg);
    
}

.top-logo {background-image: url(assets/img/top-logo.jfif);}
.company-logo {background-image: url(assets/img/amd.png);}

.top-logo,
.company-logo {
    height: 190px;
    width: 250px;
    margin: auto;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* margin: 12% auto; */
    
}
.header-panel h2 {
    font-size: 15px;
    padding: 2px;
}
.header-panel h1 {
    color: rgb(230, 41, 8);
    font-family: 'Acme', sans-serif;
    letter-spacing: 0px;
    
}




/* Section Elements */
    /* section | content properties */
.content {
    /* height: 25vh; */
    display: flex;
    flex-direction: column;
    padding: 6%;
    text-align: center;
    background:
        linear-gradient(to top right,black,transparent),
        linear-gradient(to top left, grey, transparent);
    letter-spacing: 2px;
}
.content h2,
.content h4,
.content p {
    margin: auto;
    padding: 20px;
}


.graphics,
.company,
.product,
.hardware,
.overview,
.branding,
.history {
    height: 300px;
    width: 350px;
    background-attachment: local;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 12% auto;

}
.graphics {background-image: url(assets/img/graphics.webp);}
.product {background-image: url(assets/img/product.png);}
.hardware {background-image: url(assets/img/hardware.png);}
.history {background-image: url(assets/img/history.jpg);}
.branding {background-image: url(assets/img/branding.png);}
.specifcations {background-image: url(assets/img/apartspecs.png);}
.diagrams {background-image: url(assets/img/diagram.jpg);}

.company {background-image: url(assets/img/AMD.png);}
.header-banner {background-image: url(assets/img/header-bottom.png);}

.header-banner {
    /* margin: auto; */
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 450px;
}

.diagrams {
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 10px auto;
}
/* JS | Google Elements */
    /* google_elements */
.google_elements {
    display: flex;
    flex-direction: row;

}
.google_elements div {
    margin: auto;
}



/* Footer Elements */
    /* footer | footer properties */
.footer {
    text-align: center;
    height: 450px;
    background-color: red;
    display: flex;
    flex-direction: column;
}
.footer_main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(300px, auto);
}
.footer_alt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(150px, auto);
}
/* Grid Elements */
    /* div | grid properties */
.grid {
    text-align: center;
    display: grid;
    grid-gap: 10px;
    padding: 25px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(300px, auto);

}
.grid-panel {
    border: 1px solid #fff;
    border-radius: 12px;
    /* offset: 10px black; */
    display: flex;
}
.grid-panel:hover {
    background:
        linear-gradient(to top right, rgb(251, 72, 1), transparent),    
        linear-gradient(to top left, rgb(240, 111, 5), transparent);

}
.grid-panel h5 {
    margin: auto;
}

.info_grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(300px, auto);
    /* margin: 12%; */
}
.info_panel {
    /* border: 1px solid black; */
    display: flex;
    
}
.info_panel li {
    list-style-type: none;
    padding: 10px;
    /* text-align: center; */
}
.specbox {
    margin: auto;
}
.specbox h5 {
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
}

/* media queries */
/* media queries */

/* DESKTOP | LAPTOP SCREEN WIDTH : over 860px */
/* DESKTOP | LAPTOP SCREEN WIDTH : over 860px */

@media only screen and (min-width: 860px) {
    /* Slideshow Elements */
    /* header | header components :
        [header-grid]
        [header-panel]
        [slideshow]
        [slides]
    */
    .slideshow
    .slides {
        margin: auto;
        align-content: center;
        align-items: center;
    }
    /* Navigation Elements */
    /* nav | nav components :
        [nav-layout]
        [nav-links]
        [nav-icon]
    */
    .nav {
        display: flex;
        
    }
    .nav a {
        display: flex;
        flex-direction: column;
        margin: auto;
        font-size: 22px;
        padding: 10px;
        text-align: center;
        /* font-family: 'Exo 2', sans-serif; */
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Teko', sans-serif;
        letter-spacing: 3px;

    /* font-family: 'Acme', sans-serif; */

    }
    .panel-switch {
        grid-row-start: 1;
        /* grid-column-start: 1; */
    
    }
    
    .active {
        text-decoration: underline;
        text-decoration-color: red;
    }

    .product-box {
        display: flex;
        flex-direction: column;
        /* border: 1px solid white; */
        height: 250px;
        /* padding: 10px; */
        margin: 10px;
        background-position: center;
        background-size: cover;
    }

    /* .content-graphics {background-image: url(assets/img/graphics.webp);} */
    
    .product-gpu {background-image: url(assets/img/buynow.png);}
    .product-pre {background-image: url(assets/img/preorder.png);}

    .product-box h3,
    .product-box p {
        margin: auto;
    }
    .product-box h3 {font-size: 80%;}
    .product-box p {font-size: 34px;}

}
/* DESKTOP | LAPTOP SCREEN WIDTH : over 860px END*/
/* DESKTOP | LAPTOP SCREEN WIDTH : over 860px END*/

    /* tablet = phone : > 350px < 799px  */

    /* tablet : < 800px width */
@media only screen and (max-width: 860px) {
    /* .nav-layout {
        height: 200px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
    } */
    /* header elements */
    .header {
        width: 100%;
        /* height: 385px; */
        background-position: center;
    }
    .header-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(150px, auto);

    }
    .header-panel {
        padding: 0;
        margin: 0;
    }
    
    .google_elements {
        display: flex;
        flex-direction: column;
    }
    
    .nav {
        display: flex;
        flex-direction: column;
    
    }
    .nav a {
        font-size: 18px;
        /* flex-direction: row; */
        margin: 10px auto;
        padding: 12px;
        text-decoration: none;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: 'Teko', sans-serif;
        text-align: center;
    }
    .panel-lrg {
        margin: auto;
    }
    .slides {
        margin: 0 auto;
    }
    .slideshow {
        display: flex;
    }
    /* hidden header-grid elements */
    .header-hidden {display: none;}
    /* hidden heeader-grid elements end */
    
    /* panels grid elements */
    /* hover + click enabled panels */
    .grid {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(2, 1fr);
    }

    /* info grid elements */
    /* content image + specifications */
    .info_grid {
        display: flex;
        flex-direction: column;
    }
    .info_panel {
        margin: auto;
        
    }
    .info_panel li {
        list-style-type: none;
        margin: 10px;
        text-align: center;
    }
}



/* media queries */
/* media queries */

/* MOBILE SCREEN WIDTH : under 399px */
/* MOBILE SCREEN WIDTH : under 399px */

    
@media only screen and (max-width: 399px) {
    /* navigation elements change to 2x2 grid layout */
    .nav {
        display: flex;
        flex-direction: column;
    
    }
    .nav a {
        font-size: 18px;
        /* flex-direction: row; */
        margin: 10px auto;
        padding: 12px;
        text-decoration: none;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
    }
    

    /* header elements */
    .header {width: 100%;}
    .header-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(150px, auto);

    }
    
    .slideshow {
        display: flex;
    }
    .slides {
        /* max-width: 250px; */
        width: 200px;
        height: 200px;
        margin: 10px auto;
        /* padding: 10px; */
    }
    .top-logo {
        margin: 0 auto;
        max-width: 200px;
        background-position: center;
    }
    /* hidden header-grid elements */
    .header-hidden {display: none;}
    /* hidden heeader-grid elements end */
    
    /* banner elements */
    .banner h3 {
        font-size: 25px;
    }
    /* banner elements end */
   
    /* content elements */
    .content p {
        padding: 10px;
    }
    /* content elements end */
    /* google elements */
    .google_elements {
        display: flex;
        flex-direction: column;
    }
    .google_elements div {
        margin: auto;
    }
    /* google elements end */

    /* grid elements | properties */
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(150px, auto);
    }

    /* benchmark | product images [transparent] */
    .branding,
    .graphics,
    .hardware,
    .history,
    .product,
    .overview {
        height: 150px;
        width: 150px;
        /* margin: auto; */
        background-position: center;
    }
    .info_grid {
        display: flex;
        flex-direction: column;
    }
}